
 
<div class="top-bar" id="top-bar">
<h1>MAGiC URL Shortener</h1>
</div>
<center>
<form action="/urls" method="post" class="style-2">
	<input class="input clearfix" type="text" name="input_long_url" placeholder="Enter your URL"></br>
	<input class="btn" type="submit" value="Submit">
</form>

<!-- <form action="/delete" method="post">
	Delete URL:
	<input type="number" name="write_id">
	<input type="submit" value="Submit">
</form> -->
</center>

<table style= "width:90%" border="1" cellpadding="10" align="center">
	<tr>
		<td>ID</td>
		<td>LONG</td>
		<td>SHORT</td>
		<td>CREATE AT</td>
	</tr>
<% @urls.each do |url| %>
	<tr> 
		<td> <%= url.id %> </td> 
		<td> <%= url.long_url %> </td> 
		<td> <a href="http://localhost:9393/<%= url.short_url %>">http://localhost:9393/<%= url.short_url %> </a> </td>
			<td> <%= url.updated_at %> </td>  

	</tr> <br>
<% end %>


