
 
<div class="top-bar" id="top-bar">

			<h1>MAGiC URL Shortener
		<!-- <a href="https://bufferapp.com/" target="_blank">
	        <img src="img/fb.png" alt="Buffer" /> --></h1>
	  </a>


</div><br />

<center>
<table class='table1'>
		<th class="th1" align="center">
				<img src="img/bubl.png" class="circle" alt="Buffer" />
				<p> Short Your Link</p>
		</th>
		<th class="th1" align="center">
				<img src="img/copy.png" class="circle" alt="Buffer" />
				<p> Copy &amp; Share</p>
		</th>
		<th class="th1" align="center">
				<img src="img/increase.png" class="circle" alt="Buffer" />
				<p> Measure</p>
		</th>
</table>
</center><br /><br /><br />

<!-- required pattern="https?://.+" -->
<!-- required -->
<center>
<form action="/urls" method="post" class="style-2">
	<input type="url" name="input_long_url" placeholder="Enter your URL" required ></br>
	<input class="btn" type="submit" value="Short IT!">
</form>
</center>
<!-- <form action="/delete" method="post">
	Delete URL:
	<input type="number" name="write_id">
	<input type="submit" value="Submit">
</form> -->
<table align="center">
	<tr>
		<th class="th2">ID</th>
		<th class="th2">LONG</th>
		<th class="th2" colspan="2">SHORT</th>
		<th class="th2">CREATE AT</th>
		<th class="th2">CLICKS</th>
	</tr>
<% @urls.each do |url| %>
	<tr> 
		<td> <%= url.id %> </td> 
		<td> <%= url.long_url %> </td> 
		<td> <a href="http://localhost:9393/<%= url.short_url %>">http://localhost:9393/<%= url.short_url %> </a> </td>
		<td><a id="copy_shortlink" class="button primary hover" href="#" data-clipboard-text="HelloWorld">Copy</a></td>
			<td> <%= url.created_at.strftime("%d %b. %Y at %H:%M") %> </td>  
			<td> <%= url.counter %> </td> 
	</tr> <br>
<% end %>
</table>



 <p> <a href="/contact">
	  	Contact</a></p>



